<div class="container-fluid w-100 d-flex justify-content-center navbar navbar-dark bg-black">
  

    <nav class="navbar navbar-expand-lg navbar ">
  
  
        <!--Botão para resposividade-->
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!--/Botão para resposividade-->
      
        <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">          

          <img id="logo" routerLink="/home" src="assets/img/logo_SpaGeek.png" alt="Logo Spa Geek">
         
          
  
          <ul class="navbar-nav ">
                        
            <li class="nav-item ">
              <a class="nav-link texto p-3 border-right text-uppercase text-monospace font-weight-bold" routerLink='/home' >Home <span class="sr-only">(página atual)</span></a>
            </li>
  
            <li class="nav-item ">
              <a class="nav-link texto p-3 text-uppercase text-monospace font-weight-bold" routerLink='/contato'>Contato</a>
            </li>
  
          </ul>
    
    
          
        </div>
      </nav>
  </div>






<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Spa Biel</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav> -->
